body{
    background-image: url("https://selab.hanyang.ac.kr/courses/cse326/2019/labs/images/3/blueTextureBG.jpg");
    margin-left: 10%;
    margin-right: 10%;
}
.main{
    border: 10px solid white;
    background-color: white;
}
.title{
    border: 5px none red;
    text-align: right;
    background-color: #1D2475;
    color: white;
}
.title h2{
    border: 5px none orange;
    font-size: 14pt;
    color: #CCCCCC;
    
}
.content{
    border: 5px solid #1D2475;
    border-radius: 15px;
    background-color: #99CCFF;
    margin-top: 10px;
    padding: 5px;
    overflow: hidden;
}
.content img{
    float: right;
}
.name{
    border-bottom: 2px dashed blue;
}
.first{
    margin-left: 150px;
    
}
.second{
    width: 150px;
    float: left;
}