body{
background-image: url("https://selab.hanyang.ac.kr/courses/cse326/2019/labs/images/3/blueTextureBG.jpg");
}
img.headericon {
  float: right;
  /* overflow: hidden; */
}
img{
  overflow: hidden;
}
.ff{
  float: right;
  overflow: hidden;
}
.a {
    text-align:right;
        border: 5px solid red;
        padding: 5px;
}
.b {
        border: 5px solid orange;
}
.c {
        border: 5px solid purple;
}
.d {
    overflow: hidden;
        border: 5px solid blue;
        padding: 5px;
        background-color: #99CCFF;
        margin-top:10px;
}
.e {
        border: 5px solid green;
        background-color: white;
        margin-right:10%;
        margin-left:10%;
}
/* .asd{
  float: right;
} */
