body{
background-image: url("https://selab.hanyang.ac.kr/courses/cse326/2019/labs/images/3/blueTextureBG.jpg");
}
img.headericon {
  float: right;
  /* overflow: hidden; */
}
img{
  overflow: hidden;
}
.ff{
  float: right;
  overflow: hidden;
}
.a {
    text-align:right;
        border: 5px none red;
        padding: 5px;
        background-color:#1D2475;
        color:white;
}
.b {
        border: 5px none orange;
        color: #CCCCCC;
        font-size: 14pt;
}
.c {
        /* border: 5px solid purple; */
        border-bottom: blue dashed 2px;
}
.d {
    overflow: hidden;
        border: 4px solid #1D2475;
        border-radius: 15px 15px 15px 15px;
        padding: 5px;
        background-color: #99CCFF;
        margin-top:10px;
}
.e {
        border: 10px solid white;
        background-color: white;
        margin-right:10%;
        margin-left:10%;
}
/* .asd{
  float: right;
} */
